.d-flex {
    display: flex;
    justify-content: space-between;
}

.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: 20px;
}

.thing {
    margin-bottom: 10px;
}