.adminFont {
    font-size: 1.4vh;
    font-weight: normal;
}
.adminBackGround {
    background: #dcd9ce;
    min-height: 85vh;
}
.adminNavBackGround {
    background: #ffffff;
}
.adminFontTable {
    font-size: 1.2vh;
    font-weight: lighter;
}
.adminButtonAdd {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    z-index: 9999;
    /*background-color: red;*/
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    color: white;
    text-align: center;
    /*line-height: 50px;*/
}
.adminButtonAdd:before {
    content: "";
}
.adminTable{
    min-height: 70vh;
}
.adminPagination{
    /*background: #ffffff;*/
}
.pagButton{
    border-radius: 50%;
    /*height: 2vh;*/
}
.whiteBG{
    background: #ffffff;
}
.adminButtonAdd:hover{
    cursor: pointer;
}